In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('universities.csv')

In [15]:
df.head()

                    university
0     360 diagnost & hlth serv
1  40 jadunath sarbovouma lane
2       42 vrindavan gardens b
3                      90-66 a
4         a-302 adarsh gardens

In [11]:
# data = []
# for i in authors_data:
#     for author in i:
#         data.append(author)

In [12]:
# file = open("new_data.txt","w")
# file.write(str(data))